@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d7d7d7;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2FDD92;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7d7d7d;
}


@layer base {
  @font-face {
    font-family: 'Dana';
    font-weight: 100;
    src: url(/assets/fonts/Dana/eot/dana-thin.eot) format('embedded-opentype'),
      url(/assets/fonts/Dana/woff2/Dana-Thin.woff2) format('woff2'),
      url(/assets/fonts/Dana/woff/dana-thin.woff) format('woff'),
      url(/assets/fonts/Dana/ttf/Dana-Thin.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Dana';
    font-weight: 200;
    src: url(/assets/fonts/Dana/eot/dana-light.eot) format('embedded-opentype'),
      url(/assets/fonts/Dana/woff2/Dana-Light.woff2) format('woff2'),
      url(/assets/fonts/Dana/woff/dana-light.woff) format('woff'),
      url(/assets/fonts/Dana/ttf/Dana-Light.ttf) format('truetype');

  }

  @font-face {
    font-family: 'Dana';
    font-weight: 300;
    src: url(/assets/fonts/Dana/eot/dana-regular.eot) format('embedded-opentype'),
      url(/assets/fonts/Dana/woff2/Dana-Regular.woff2) format('woff2'),
      url(/assets/fonts/Dana/woff/dana-regular.woff) format('woff'),
      url(/assets/fonts/Dana/ttf/Dana-Regular.ttf) format('truetype');

  }

  @font-face {
    font-family: 'Dana';
    font-weight: 400;
    src: url(/assets/fonts/Dana/eot/dana-medium.eot) format('embedded-opentype'),
      url(/assets/fonts/Dana/woff2/Dana-Medium.woff2) format('woff2'),
      url(/assets/fonts/Dana/woff/dana-medium.woff) format('woff'),
      url(/assets/fonts/Dana/ttf/Dana-Medium.ttf) format('truetype');

  }

  @font-face {
    font-family: 'Dana';
    font-weight: 500;
    src: url(/assets/fonts/Dana/eot/dana-demibold.eot) format('embedded-opentype'),
      url(/assets/fonts/Dana/woff2/Dana-DemiBold.woff2) format('woff2'),
      url(/assets/fonts/Dana/woff/dana-demibold.woff) format('woff'),
      url(/assets/fonts/Dana/ttf/Dana-DemiBold.ttf) format('truetype');

  }

  @font-face {
    font-family: 'Dana';
    font-weight: 600;
    src: url(/assets/fonts/Dana/eot/dana-bold.eot) format('embedded-opentype'),
      url(/assets/fonts/Dana/woff2/Dana-Bold.woff2) format('woff2'),
      url(/assets/fonts/Dana/woff/dana-bold.woff) format('woff'),
      url(/assets/fonts/Dana/ttf/Dana-Bold.ttf) format('truetype');

  }

  @font-face {
    font-family: 'Dana';
    font-weight: 700;
    src: url(/assets/fonts/Dana/eot/dana-extrabold.eot) format('embedded-opentype'),
      url(/assets/fonts/Dana/woff2/Dana-ExtraBold.woff2) format('woff2'),
      url(/assets/fonts/Dana/woff/dana-extrabold.woff) format('woff'),
      url(/assets/fonts/Dana/ttf/Dana-ExtraBold.ttf) format('truetype');

  }

  @font-face {
    font-family: 'Dana';
    font-weight: 800;
    src:
      url(/assets/fonts/Dana/eot/dana-black.eot) format('embedded-opentype'),
      url(/assets/fonts/Dana/woff2/Dana-Black.woff2) format('woff2'),
      url(/assets/fonts/Dana/woff/dana-black.woff) format('woff'),
      url(/assets/fonts/Dana/ttf/Dana-Black.ttf) format('truetype');

  }
}

html {
  font-family: 'Dana';
}

body {
  background-color: #f9fafb;
  color: var(--color-secondary);
}

@layer components {
  .btn {
    padding: .75rem;
    border-radius: 12px;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    color: var(--color-secondary);
    cursor: pointer;
  }

  .btn-primary {
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    transition: .2s;
  }

  .btn-primary:hover {
    background-color: #fff;
    border: 2px solid var(--color-secondary);
    transition: .2s;
    
  }

}

:root {
  --color-primary: #3DDC97;
  --color-secondary : #002a32
}
