@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d7d7d7;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2FDD92;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7d7d7d;
}


@layer base {
  @font-face {
    font-family: 'Modam';
    font-weight: 100;
    src:
      url(/assets/fonts/Modam/woff2/ModamFaNumWeb-ExtraLight.woff2) format('woff2'),
      url(/assets/fonts/Modam/woff/ModamFaNumWeb-ExtraLight.woff) format('woff'),
      url(/assets/fonts/Modam/ttf/ModamFaNum-ExtraLight.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Modam';
    font-weight: 200;
    src:
      url(/assets/fonts/Modam/woff2/ModamFaNumWeb-Light.woff2) format('woff2'),
        url(/assets/fonts/Modam/woff/ModamFaNumWeb-Light.woff) format('woff'),
        url(/assets/fonts/Modam/ttf/ModamFaNum-Light.ttf) format('truetype');

  }

  @font-face {
    font-family: 'Modam';
    font-weight: 300;
    src:
      url(/assets/fonts/Modam/woff2/ModamFaNumWeb-Regular.woff2) format('woff2'),
        url(/assets/fonts/Modam/woff/ModamFaNumWeb-Regular.woff) format('woff'),
        url(/assets/fonts/Modam/ttf/ModamFaNum-Regular.ttf) format('truetype');

  }

  @font-face {
    font-family: 'Modam';
    font-weight: 400;
    src:
      url(/assets/fonts/Modam/woff2/ModamFaNumWeb-Medium.woff2) format('woff2'),
      url(/assets/fonts/Modam/woff/ModamFaNumWeb-Medium.woff) format('woff'),
      url(/assets/fonts/Modam/ttf/ModamFaNum-Medium.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Modam';
    font-weight: 500;
    src:
      url(/assets/fonts/Modam/woff2/ModamFaNumWeb-SemiBold.woff2) format('woff2'),
        url(/assets/fonts/Modam/woff/ModamFaNumWeb-SemiBold.woff) format('woff'),
        url(/assets/fonts/Modam/ttf/ModamFaNum-SemiBold.ttf) format('truetype');

  }

  @font-face {
    font-family: 'Modam';
    font-weight: 600;
    src:
      url(/assets/fonts/Modam/woff2/ModamFaNumWeb-Bold.woff2) format('woff2'),
        url(/assets/fonts/Modam/woff/ModamFaNumWeb-Bold.woff) format('woff'),
        url(/assets/fonts/Modam/ttf/ModamFaNum-Bold.ttf) format('truetype');

  }

  @font-face {
    font-family: 'Modam';
    font-weight: 700;
    src:
      url(/assets/fonts/Modam/woff2/ModamFaNumWeb-ExtraBold.woff2) format('woff2'),
        url(/assets/fonts/Modam/woff/ModamFaNumWeb-ExtraBold.woff) format('woff'),
        url(/assets/fonts/Modam/ttf/ModamFaNum-ExtraBold.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Modam';
    font-weight: 800;
    src:

      url(/assets/fonts/Modam/woff2/ModamFaNumWeb-Black.woff2) format('woff2'),
        url(/assets/fonts/Modam/woff/ModamFaNumWeb-Black.woff) format('woff'),
        url(/assets/fonts/Modam/ttf/ModamFaNum-Black.ttf) format('truetype');
  }






  /* ----------------- BomyadeKoodak ---------------- */

    @font-face {
      font-family: 'BonyadeKoodak';
      font-weight: 100;
      src:
        url(/assets/fonts/BonyadeKoodak/woff2/BonyadeKoodakFaNum-Thin.woff2) format('woff2'),
        url(/assets/fonts/BonyadeKoodak/woff/BonyadeKoodakFaNum-Thin.woff) format('woff'),
        url(/assets/fonts/BonyadeKoodak/ttf/BonyadeKoodakFaNum-Thin.ttf) format('truetype');
    }
  
    @font-face {
      font-family: 'BonyadeKoodak';
      font-weight: 200;
      src:
        url(/assets/fonts/BonyadeKoodak/woff2/BonyadeKoodakFaNum-ExtraLight.woff2) format('woff2'),
          url(/assets/fonts/BonyadeKoodak/woff/BonyadeKoodakFaNum-ExtraLight.woff) format('woff'),
          url(/assets/fonts/BonyadeKoodak/ttf/BonyadeKoodakFaNum-ExtraLight.ttf) format('truetype');
        }
  
    
  
    @font-face {
      font-family: 'BonyadeKoodak';
      font-weight: 300;
      src:
        url(/assets/fonts/BonyadeKoodak/woff2/BonyadeKoodakFaNum-Light.woff2) format('woff2'),
          url(/assets/fonts/BonyadeKoodak/woff/BonyadeKoodakFaNum-Light.woff) format('woff'),
          url(/assets/fonts/BonyadeKoodak/ttf/BonyadeKoodakFaNum-Light.ttf) format('truetype');
        }
  
    @font-face {
      font-family: 'BonyadeKoodak';
      font-weight: 400;
      src:
        url(/assets/fonts/BonyadeKoodak/woff2/BonyadeKoodakFaNum-Regular.woff2) format('woff2'),
          url(/assets/fonts/BonyadeKoodak/woff/BonyadeKoodakFaNum-Regular.woff) format('woff'),
          url(/assets/fonts/BonyadeKoodak/ttf/BonyadeKoodakFaNum-Regular.ttf) format('truetype');
    }
  
    @font-face {
      font-family: 'BonyadeKoodak';
      font-weight: 500;
      src:
        url(/assets/fonts/BonyadeKoodak/woff2/BonyadeKoodakFaNum-Medium.woff2) format('woff2'),
          url(/assets/fonts/BonyadeKoodak/woff/BonyadeKoodakFaNum-Medium.woff) format('woff'),
          url(/assets/fonts/BonyadeKoodak/ttf/BonyadeKoodakFaNum-Medium.ttf) format('truetype');
  
    }
  
    @font-face {
      font-family: 'BonyadeKoodak';
      font-weight: 600;
      src:
        url(/assets/fonts/BonyadeKoodak/woff2/BonyadeKoodakFaNum-Bold.woff2) format('woff2'),
          url(/assets/fonts/BonyadeKoodak/woff/BonyadeKoodakFaNum-Bold.woff) format('woff'),
          url(/assets/fonts/BonyadeKoodak/ttf/BonyadeKoodakFaNum-Bold.ttf) format('truetype');
  
    }
  
    @font-face {
      font-family: 'BonyadeKoodak';
      font-weight: 700;
      src:
        url(/assets/fonts/BonyadeKoodak/woff2/BonyadeKoodakFaNum-ExtraBold.woff2) format('woff2'),
          url(/assets/fonts/BonyadeKoodak/woff/BonyadeKoodakFaNum-ExtraBold.woff) format('woff'),
          url(/assets/fonts/BonyadeKoodak/ttf/BonyadeKoodakFaNum-ExtraBold.ttf) format('truetype');
    }
  
    @font-face {
      font-family: 'BonyadeKoodak';
      font-weight: 800;
      src:
  
        url(/assets/fonts/BonyadeKoodak/woff2/BonyadeKoodakFaNum-Black.woff2) format('woff2'),
          url(/assets/fonts/BonyadeKoodak/woff/BonyadeKoodakFaNum-Black.woff) format('woff'),
          url(/assets/fonts/BonyadeKoodak/ttf/BonyadeKoodakFaNum-Black.ttf) format('truetype');
    }
}

html {
  font-family: 'BonyadeKoodak';
}

body {
  background-color: #f9fafb;
  color: var(--color-secondary);
}

@layer components {
  .btn {
    padding: .75rem;
    border-radius: 12px;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    color: var(--color-secondary);
    cursor: pointer;
  }

  .btn-primary {
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    transition: .2s;
  }

  .btn-primary:hover {
    background-color: #fff;
    border: 2px solid var(--color-secondary);
    transition: .2s;

  }

}

:root {
  --color-primary: #3DDC97;
  --color-secondary: #002a32
}